.imagesList {
    display: flex;
    gap: 48px;
    width: 100%;
    margin-bottom: 28px;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.image {
    border-radius: 10px;
    width: 292px;
    height: 312px;
}