.filters:not(:last-child){
    margin-bottom: 32px;
}

.filterTitle{
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
}

.filtersList {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}