.navigationBar {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--inputs);
    padding: 24px 64px;
}

.navigation {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.logo {
    background-color: var(--gray);
}

.logoLink {
    position: absolute;
    top: 24px;
    left: 64px;
    z-index: 1;
}

.menu {
    color: var(--main);
}

.menu:hover {
    color: var(--button-hover);
}

.isActive {
    color: var(--button-hover);
}