.truckFeatures {
    display: flex;
    flex-direction: column;
    gap: 50px;
    border-radius: 10px;
    padding: 44px 52px;
    min-width: 631px;
    min-height: 588px;
    background-color: var(--inputs);
}