.locationLabel {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    color: var(--gray);
    margin-bottom: 40px;
}

.locationLabelText {
    margin-bottom: 8px;
}

.locationIcon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 18px;
    fill: currentColor;
}

.filtersText {
    display: block;
    color: var(--text);
    margin-bottom: 32px;
}

.searchButton {
    padding: 16px 56.5px;
    width: 166px;
}